### Backend (Spring Boot) ###
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

# STS
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# IntelliJ IDEA
backend/.idea
*.iws
*.iml
*.ipr

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### Frontend (React) ###
# Logs
frontend/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

### Personal notes ###
guide_full.md
guide_upgrades.md
guide_migration.md

### Editor directories and files ###
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
